@{
    ViewData["Title"] = "Categories";
}
<h1>@ViewData["Title"]</h1>

<div class="row my-5">
    <div class="col-lg-4">
        <figure class="rounded caption-1">
            <img src="" alt="Action" class="">
            <figcaption class="px-5 py-4 text-right text-light">
                <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
            </figcaption>
        </figure>
    </div>

    <div class="col-lg-4">
        <figure class="rounded caption-1">
            <img src="" alt="Shooter" class="">
            <figcaption class="px-5 py-4 text-right text-light">
                <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
            </figcaption>
        </figure>
    </div>

    <div class="col-lg-4">
        <figure class="rounded caption-1">
            <img src="" alt="Sports" class="">
            <figcaption class="px-5 py-4 text-right text-light">
                <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
            </figcaption>
        </figure>
    </div>
</div>
<div class="row my-5">
    <div class="col-lg-4">
        <figure class="rounded caption-1">
            <img src="" alt="RPG" class="">
            <figcaption class="px-5 py-4 text-right text-light">
                <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
            </figcaption>
        </figure>
    </div>

    <div class="col-lg-4">
        <figure class="rounded caption-1">
            <img src="" alt="" class="">
            <figcaption class="px-5 py-4 text-right text-light">
                <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
            </figcaption>
        </figure>
    </div>

    <div class="col-lg-4">
        <figure class="rounded caption-1">
            <img src="" alt="" class="">
            <figcaption class="px-5 py-4 text-right text-light">
                <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
            </figcaption>
        </figure>
    </div>
</div>